#brand-name{
    font-size: 35px;
    margin-left: 15px;
 color: white;
 font-weight: bolder;
 transition: 0.8s;

}

.position-nav{
    margin-left: 40px;
}
.nav-item a {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 10px;
    color: rgb(126, 0, 0);
    opacity: 1.2;


}
.nav-item a:hover{
    background-color: rgb(156, 5, 5);
    border-radius: 40%;
    color: black;
}